@import "src/fonts/index";

.wrapperBg {
  background-size: cover;
  background: url("../../images/welcome.png") no-repeat center center ;
  min-height: 800px;
  height: 100vh;
}

.inner {
  padding: 154px 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.redBlock {
  background: linear-gradient(127.8deg, #C20E2F 10.36%, #B10116 97.67%);
  border-radius: 40px;

  .bg {
    background-size: cover;
    background: url("../../images/bg.png") 0 0;
    padding: 50px 80px 90px 50px;
  }
}

.title {
  font-family: Ermilov, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 38px;
  text-align: center;
  margin: 0 0 32px 0;

  color: #FFFFFF;
}

.subTitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;

  margin-top: 10px;
}

.btnBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 82px;

  .requestColl {
    background: #FFFFFF;
    box-shadow: 3px 5px 20px rgba(119, 21, 33, 0.4);
    border-radius: 12px;
    height: 55px;

    font-family: Ermilov, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #C62442;

    padding: 0 35px;
    border: none;
    cursor: pointer;
  }

  .contactUs {
    font-family: Ermilov, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    height: 55px;
    padding: 0 35px;

    .underline {
      height: 3px;
      margin-top: 5px;
      background-color: #fff;
    }
  }
}