font-face {
  font-family: 'Ermilov', sans-serif;
  src: url('Ermilov/Ermilov.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter UI (OTF)/Inter-UI-Regular.otf');
  font-weight: normal;
  font-display: swap;
}