@font-face {
  font-family: 'Ermilov';
  src: url('Ermilov/Ermilov.otf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter UI (OTF)/Inter-UI-Regular.otf');
  font-weight: normal;
  font-display: swap;
}