@font-face {
  font-family: 'Ermilov';
  src: url('Ermilov/Ermilov.otf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter/Inter-VariableFont_slnt,wght.ttf');
  font-weight: normal;
  font-display: swap;
}